<div [@modal]="visible ? open : closed" *ngIf="visible" class="modal">
    <div id="header">
        <span>tenfold</span>
        <button (click)="close()" aria-label="Close" class="modal_close-btn">X</button>
    </div>

    <div id="calling-info">
        <div id="go-back">
            <img src="assets/images/back-arrow.png"/>
            <button id="callHistoryBtn" (click)="callHistoryBtnClicked()">CALLS HISTORY</button>
        </div>
        <div id="call-type">
            <span id="inCallText" [ngStyle]="{'background-color': person.callType.toLowerCase().includes('incall') ? 'greenyellow' : 'lightgray'}">IN CALL</span>
            <br/>
            <span id="outboundCallText" [ngStyle]="{'background-color': person.callType.toLowerCase().includes('incall') ? 'lightgray' : 'greenyellow'}">OUTBOUND CALL</span>
        </div>
        <div class="item3">
            <span id="call-duration" #callDuration>{{person.callDuration | amParse: 'HH:mm:ss' | amAdd: diff : 'seconds' | amDateFormat:'HH:mm:ss'}}</span>
        </div>
        <div class="item4">
            <button id="call-btn" (click)="incallBtnClicked()"></button>
        </div>
    </div>

    <div id="personal-info">
        <div class="images">
            <img src="assets/images/person.jpg"/>
            <br/>
            <img src="assets/images/callout.jpg"/>
        </div>
        <div id="name"><span id="dot"></span> {{(person.firstName + ' ' + person.lastName) || "none"}}</div>
        <div id="phone-number">{{person.number || "none"}}</div>
        <div id="intro">{{person.intro}}</div>
        <div id="social-media"><span *ngFor="let medium of person.socialMedia"><a>{{medium.name}}</a>,</span><a>+Add Field</a></div>
        <div id="previous-call">
            <span id="type">{{person.previousCall.type || "none"}}</span>
            <br />
            <img src="assets/images/clock.jpg" />
            <span>{{person.previousCall.time || "none"}}</span>
        </div>
        <div id="history">
            CALLS HISTORY
            <br />
            <button>
                <img src="assets/images/note1.jpg" />
                <br/>
                <span>{{person.callHistory.followup || 0}} Follow Up</span>
            </button>
            <button>
                <img src="assets/images/note2.jpg" />
                <br/>
                <span>{{person.callHistory.note || 0}} notes</span>
            </button>
        </div>
    </div>

    <div id="registers">
        <p>SHOW MORE REGISTERS FROM {{person.firstName || "none"}}</p>
        <div>
            <span id="content">{{person.register.content || "none"}}</span>
            <button id="save-btn">SAVE</button>
        </div>
    </div>
</div>
