img {
    border-radius: 50%;
    border: 2px solid lightgray;
}

button {
    background-color: white;
    border: none;
}

.modal {
    z-index: 1000;
    position:fixed;
    right: 0;
    // left: 10%;
    top: 20px;
    margin-right: auto;
    margin-left: auto;
    min-height: 200px;
    width: 700px;
    // max-width: 520px;
    background-color: #fff;
    padding: 12px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.modal_close-btn {
    border: 0;
    background: none;
    color: #2d2d2d;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 1.2em;
}


#calling-info {
    display: grid;
    grid-template-rows: 30% 40% 20% 10%;

    #go-back {
        grid-column: 1;

        img {
            vertical-align: middle;
        }
    }

    #call-type {
        grid-column: 2;
        text-align: right;
    }

    .item3 {
        grid-column: 3;

        #call-duration {
            float: right;
            font-size: xx-large;
        }
    }

    .item4 {
        grid-column: 4;

        #call-btn {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: 2px solid lightgray;
            background-image: url('../../assets/images/phone.jpg');
            background-repeat:no-repeat;
        }
    }
}

#personal-info {
    display: grid;
    grid-column: 33% 33% 33%;
    grid-row: 14% 10% 10% 10% 10%;

    .images {
        grid-column: 1; 
        grid-row: 1/5; 
        text-align: center;
    }

    #name {
        grid-column: 2; 
        grid-row: 1;
    }

    #phone-number {
        grid-column: 3; 
        grid-row: 1; 
        text-align: center; 
        color: darkcyan; 
        text-decoration: darkcyan underline;
    }

    #intro {
        grid-column: 2/span 2; 
        grid-row: 2; 
        padding-top: 5%;
    }

    #social-media {
        grid-column: 2/span 2; 
        grid-row: 3; 
        text-decoration: underline;
    }

    #previous-call {
        grid-column: 2; 
        grid-row: 4/5;
        padding-top: 20%;

        #type {
            background-color: lightgrey;
        }
    }

    #history {
        grid-column: 3; 
        grid-row: 4/5; 
        padding-top: 10%;
    }
}

#registers {
    background-color: lightslategray;

    p {
        text-align: center;
    }

    #content {
        display: inline-block; 
        width:80%;
        vertical-align: middle;
    }

    #save-btn {
        display: inline-block; 
        width: 15%; 
        height: 50px; 
        text-align: center; 
        background-color: lightblue; 
        border-radius: 2px; 
        vertical-align: middle;
    }
}
